.botonMenu{
    background-color: #4b5259;
    color: white;
    margin: 2px;
}
.botonMenu:hover{
    background-color: rgb(161, 108, 10);
}
.bgMadera{
    background-image: url('../assets/img/tim-mossholder-J0sMjGu6jvQ-unsplash.jpg');
}
.alt{
    height: 90px;
}
.cilindro {
    position: relative;
    width: 40px;
    height: 50px;
    background-color: #666;
    border-radius: 65px / 25px;
  }
  
  .cilindro:before {
    content: "";
    position: absolute;
    background-color: #ccc;
    width: 40px;
    height: 10px;
    border-radius: 65px / 15px;
    top: 0px;
  }